{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">


    <article class="article article-project" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name">{{ .Title }}</h1>


        {{ with .Params.external_link }}<a class="btn btn-primary btn-outline" href="{{ . }}">Go to Speaker's Site</a>{{ end }}
      <div class="col-md-3">
          <a href={{.Permalink}}>
              {{ if .Params.picture }}
                  <div class="project-picture" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.picture }}')"></div>
              {{ else }}
                  <div class="project-picture"></div>
              {{ end }}
          </a>
      </div>

        <div class="article-style" itemprop="articleBody">
            {{ .Content }}
        </div>
     </article>

<!--   {{ partial "section_pager.html" . }}-->

</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
